<!DOCTYPE html>
<html>
  <head>
    <title>Daftar - Kosanku</title>
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1.0,
                                  user-scalable=no">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/costum.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

  </head>
  <body>
    <div class="container">
    <div class="hidden-xs col-sm-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-lg-8" style="display:block; padding: 0">
      <div class="col-xs-12 card-bottom effect5" style="margin:10% 0;padding:20px 5%;">

        <h4 class="title" style="margin:15px 0; font-weight: 100">Daftar Sebagai Pemilik Kost</h4>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <p style="text-align: center">
            <img src="/media/pictures/user.gif" id="dummy_profile_photo" style="width: 100px; height: 100px;" >
            </p>
              <h2 class="unggah" style="top:31%;right:2.64%;" id="browse" onclick="HandleBrowseClick();">&plus;</h2>
              <p style="font-size:8pt;margin-bottom:3px;text-align:left">Foto Profile<i style="font-size:80%"> *(.JPG/.JPEG/.PNG/.GIF)</i></p>
              
             {{member_form.profile_photo}}
              <input type="text" id="filename" readonly="true"placeholder="Klik Tombol + untuk Mengunggah Foto"/>
          {{member_form.nama_lengkap}}
          {{member_form.alamat_lengkap}}
          <hr>
          {{user_form.username}}
          {{user_form.email}}
          {{user_form.password}}
           <div class="col-xs-3"></div>
           <div class="col-xs-12 col-sm-6" style="margin:20px 0">
             <button class="daftar-cool" style="width:100%" type="submit">DAFTAR</button>
             <div class="col-xs-3"></div>
         </form></div></div>
    <div class="hidden-xs col-sm-1 col-lg-2"></div></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script language="JavaScript" type="text/javascript">
       function HandleBrowseClick(){
         var fileinput = document.getElementById("id_member_form-profile_photo");
         fileinput.click(); 
       }
       function Handlechange(event){
         var textinput = document.getElementById("filename");
         var fileinput = document.getElementById("id_member_form-profile_photo");
         textinput.value = fileinput.value;
         var selectedFile = event.target.files[0];
         var reader = new FileReader();

         var imgtag = document.getElementById("dummy_profile_photo");
         imgtag.title = selectedFile.name;

         reader.onload = function(event) {
         imgtag.src = event.target.result;
         };

         reader.readAsDataURL(selectedFile);
        }
</script>
  </body>
</html>
