<!DOCTYPE html>
<html>
  <head>
    <title>Daftar - Kosanku</title>
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1.0,
                                  user-scalable=no">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/costum.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

  </head>
  <body>
    <div class="container">
    <div class="hidden-xs col-sm-1 col-lg-2"></div>
    <div class="col-xs-12 col-sm-10 col-lg-8" style="display:block">
      <div class="col-xs-12 card-bottom effect5" style="margin:90px 0;padding:20px 10px 0 10px; text-align:center">

        <h4 class="title" style="margin:15px">Selamat Datang di Kosanku, silakan isi form berikut ini untuk mendaftar sebagai member Kosanku.</h4>
        <form action="action_page.php">
          <div class="col-xs-12 col-sm-6">
            <div><p style="font-size:8pt;margin-bottom:3px;text-align:left">Nama Akun (maks 20 karakter tanpa spasi)<i class="hot"style="font-size:150%;font-weight:normal;margin:0"> *</i></p>  
              <input class="effect6" style="width:100%" type="text" placeholder="Masukan Nama" name="uname" required></div>
             <div><p style="font-size:8pt;margin-bottom:3px;text-align:left">Email valid (untuk konfimasi akun)<i class="hot"style="font-size:150%;font-weight:normal;margin:0"> *</i></p>  
               <input class="effect6" style="width:100%" type="text" placeholder="Masukan Email" name="mail" required></div></div>
           <div class="col-xs-12 col-sm-6">
            <div><p style="font-size:8pt;margin-bottom:3px;text-align:left">Kata Sandi (min 6 karakter)<i class="hot"style="font-size:150%;font-weight:normal;margin:0"> *</i></p>
               <input class="effect6" style="width:100%" type="password" placeholder="Masukan Kata Sandi" name="psw" required></div>
             <div><p style="font-size:8pt;margin-bottom:3px;text-align:left">Masukan ulang kata sandi<i class="hot"style="font-size:150%;font-weight:normal;margin:0"> *</i></p>
               <input class="effect6" style="width:100%" type="password" placeholder="Ulangi Kata Sandi" name="psw2" required></div></div>
          
           <div class="col-xs-3"></div>
           <div class="col-xs-12 col-sm-6" style="margin-top:20px">
             <button class="daftar-cool effect4" style="width:100%" type="submit">Kirim</button>
             <p style="padding:1px">
               <a href="http://www.freepik.com/free-photos-vectors/people" style="color:#888">People vector designed by Freepik</a></p></div>
           <div class="col-xs-3"></div>
         </form></div></div>
    <div class="hidden-xs col-sm-1 col-lg-2"></div></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script language="JavaScript" type="text/javascript">
       function HandleBrowseClick(){
         var fileinput = document.getElementById("browse");
         fileinput.click(); 
       }
       function Handlechange(event){
         var fileinput = document.getElementById("browse");
         var textinput = document.getElementById("filename");
         textinput.value = fileinput.value;
         var selectedFile = event.target.files[0];
         var reader = new FileReader();

         var imgtag = document.getElementById("ava");
         imgtag.title = selectedFile.name;

         reader.onload = function(event) {
         imgtag.src = event.target.result;
         };

         reader.readAsDataURL(selectedFile);
        }
</script>
  </body>
</html>
