<!DOCTYPE html>
<html>
  <head>
    <title>Profil Tukang Kibul - Kosanku</title>
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1.0,
                                  user-scalable=no">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/costum.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body>

    <script>

        function setHeight(img){
          img.style.minHeight = '0';
          img.style.maxHeight = '180px';
          img.style.height = img.clientWidth+'px';
          img.style.backgroundSize='auto 100%';
          img.style.overflow='hidden';
          img.style.objectFit='cover';
        } 
    </script>
    <div class="container"><!--Container#1 -->
       <div class="row"><!-- Row#1 of Container#1 -->
         <div name="socio-box" class="col-xs-12 col-md-3" style="padding-right: 0">
           <div class="col-xs-12 card-bottom card-md effect5" style="height:auto;margin-top:30px;padding:0 5px 20px 5px">

             <div name="prf-header" class="col-xs-12" style="padding:10px 0">
              <div name="prf-ava" class="col-xs-12" style="text-align: center">
                <img id="ava" src="/media/{{request.user.member.profile_photo}}" alt="Avatar" class="photo-user avatar avatars" style="
               -webkit-filter: none;width:200px;height:200px;border-radius:120px; padding:5px"/>
              </div>
              <div name="prf-title" class="col-xs-12">
                <div class="card-bottom" style="margin:0;display:block;height:auto;padding:10px 0">
                  <p class="title" style="margin:0 0 0 10px">{{request.user.member.nama_lengkap | title}}</p>
                  <p style="margin-top: 5px">Alamat: <br>{{request.user.member.alamat_lengkap}}</p>
                </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </body>
</html>
