<!DOCTYPE html>
<html>
  <head>
    <title>Profil Tukang Kibul - Kosanku</title>
    <meta name="viewport" content="width=device-width,
                                  initial-scale=1.0,
                                  user-scalable=no">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/costum.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>
  <body>

    <script>

        function setHeight(img){
          img.style.minHeight = '0';
          img.style.maxHeight = '180px';
          img.style.height = img.clientWidth+'px';
          img.style.backgroundSize='auto 100%';
          img.style.overflow='hidden';
          img.style.objectFit='cover';
        } 
    </script>
    <section name="header">
    <div class="container"><!--Container#1 -->
       <div class="row"><!-- Row#1 of Container#1 -->
         <div class="col-md-9 col-xs-12" style="padding: 0 ">
         <div class="col-xs-12 card-bottom card-md effect5" style="padding:40px;margin-top:3.5%"><!-- Parent of Header | Child of Row#1 Container#1 -->
          <div class="row" style="padding: 0; margin-bottom: 10px">
              <div class="col-xs-3" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect6 card-pointer card-md" style="padding:0 0 10px 0">
                    <a href="#saran4" onClick="modalImage('saran4')">
                      <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="pictures/kost1.jpg"></a>

                        <h5 id="cards7-title" class="title" style="color:#333"> Kamar Kost Murah Dekat Kawasan Industri</h5>

                        <h5 class="title" style="padding:10px;margin:0">Rating : 
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                          </h5>
                        <h4 class="titlesm cool" style="text-align:center; margin:0;">
                        Rp. 692.000<sub>/bulan</sub>
                        </h4>
                  </div></div>
              <div class="col-xs-3" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect6 card-pointer card-md" style="padding:0 0 10px 0">
                    <a href="#saran4" onClick="modalImage('saran4')">
                      <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="pictures/kost2.jpg"></a>

                        <h5 id="cards7-title" class="title" style="color:#333"> Kamar Kost Murah Dekat Kawasan Industri</h5>

                        <h5 class="title" style="padding:10px;margin:0">Rating : 
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                          </h5>
                        <h4 class="titlesm cool" style="text-align:center; margin:0;">
                        Rp. 692.000<sub>/bulan</sub>
                        </h4>
                  </div></div>
              <div class="col-xs-3" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect6 card-pointer card-md" style="padding:0 0 10px 0">
                    <a href="#saran4" onClick="modalImage('saran4')">
                      <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="pictures/kost3.jpg"></a>

                        <h5 id="cards7-title" class="title" style="color:#333"> Kamar Kost Murah Dekat Kawasan Industri</h5>

                        <h5 class="title" style="padding:10px;margin:0">Rating : 
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                          </h5>
                        <h4 class="titlesm cool" style="text-align:center; margin:0;">
                        Rp. 692.000<sub>/bulan</sub>
                        </h4>
                  </div></div>
              <div class="col-xs-3" style="padding:0 5px;text-align:center">
                  <div class="col-xs-12 card-bottom effect6 card-pointer card-md" style="padding:0 0 10px 0">
                    <a href="#saran4" onClick="modalImage('saran4')">
                      <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="pictures/kost4.jpg"></a>

                        <h5 id="cards7-title" class="title" style="color:#333"> Kamar Kost Murah Dekat Kawasan Industri</h5>

                        <h5 class="title" style="padding:10px;margin:0">Rating : 
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                            <span class="glyphicon glyphicon-star star"></span>
                          </h5>
                        <h4 class="titlesm cool" style="text-align:center; margin:0;">
                        Rp. 692.000<sub>/bulan</sub>
                        </h4>
                  </div></div></div>   
                  
              <div class="row" style="padding: 0; margin-bottom: 10px">
                  <div class="col-xs-3" style="padding:0 5px;text-align:center">
                      <div class="col-xs-12 card-bottom effect6 card-pointer card-md" style="padding:0 0 10px 0">
                        <a href="#saran4" onClick="modalImage('saran4')">
                          <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="pictures/kost6.jpg"></a>
    
                            <h5 id="cards7-title" class="title" style="color:#333"> Kamar Kost Murah Dekat Kawasan Industri</h5>
    
                            <h5 class="title" style="padding:10px;margin:0">Rating : 
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                              </h5>
                            <h4 class="titlesm cool" style="text-align:center; margin:0;">
                            Rp. 692.000<sub>/bulan</sub>
                            </h4>
                      </div></div>
                  <div class="col-xs-3" style="padding:0 5px;text-align:center">
                      <div class="col-xs-12 card-bottom effect6 card-pointer card-md" style="padding:0 0 10px 0">
                        <a href="#saran4" onClick="modalImage('saran4')">
                          <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="pictures/kost7.jpg"></a>
    
                            <h5 id="cards7-title" class="title" style="color:#333"> Kamar Kost Murah Dekat Kawasan Industri</h5>
    
                            <h5 class="title" style="padding:10px;margin:0">Rating : 
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                              </h5>
                            <h4 class="titlesm cool" style="text-align:center; margin:0;">
                            Rp. 692.000<sub>/bulan</sub>
                            </h4>
                      </div></div>
                  <div class="col-xs-3" style="padding:0 5px;text-align:center">
                      <div class="col-xs-12 card-bottom effect6 card-pointer card-md" style="padding:0 0 10px 0">
                        <a href="#saran4" onClick="modalImage('saran4')">
                          <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="pictures/kost8.jpg"></a>
    
                            <h5 id="cards7-title" class="title" style="color:#333"> Kamar Kost Murah Dekat Kawasan Industri</h5>
    
                            <h5 class="title" style="padding:10px;margin:0">Rating : 
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                              </h5>
                            <h4 class="titlesm cool" style="text-align:center; margin:0;">
                            Rp. 692.000<sub>/bulan</sub>
                            </h4>
                      </div></div>
                  <div class="col-xs-3" style="padding:0 5px;text-align:center">
                      <div class="col-xs-12 card-bottom effect6 card-pointer card-md" style="padding:0 0 10px 0">
                        <a href="#saran4" onClick="modalImage('saran4')">
                          <img  id="saran-4" style="margin:0" class="photo-user saran" onLoad="setHeight(this)" src="pictures/kost9.jpg"></a>
    
                            <h5 id="cards7-title" class="title" style="color:#333"> Kamar Kost Murah Dekat Kawasan Industri</h5>
    
                            <h5 class="title" style="padding:10px;margin:0">Rating : 
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                                <span class="glyphicon glyphicon-star star"></span>
                              </h5>
                            <h4 class="titlesm cool" style="text-align:center; margin:0;">
                            Rp. 692.000<sub>/bulan</sub>
                            </h4>
                      </div></div></div> 
        </div></div>
         <div name="socio-box" class="col-xs-12 col-md-3" style="padding-right: 0">
           <div class="col-xs-12 card-bottom card-md effect5" style="min-height:auto;margin-top:30px;padding:0 5px 20px 5px">

             <div name="prf-header" class="col-xs-12" style="padding:10px 0">
              <div name="prf-ava" class="col-xs-12" style="text-align: center">
                <img id="ava" src="pictures/indah.jpg" alt="Avatar" class="photo-user avatar avatars" style="
               -webkit-filter: none;width:120px;height:120px;border-radius:85px; padding:5px"/></div>
              <div name="prf-title" class="col-xs-12">
                <div class="card-bottom" style="margin:0;display:block;height:2.4em;padding:0">
                  <h3 class="title" style="margin:0 0 0 10px">TUKANG KIBUL</h3></div>
              </div>
            </div>

              <div class="col-xs-12 card-bottom " style="background-color:transparent;margin-bottom:10px;display:block;height:auto;padding:0">
             <div class="col-xs-12 card-bottom" style="margin-bottom:10px;display:block;height:auto;padding:0">
                 <h4 class="title" style="margin:10px 0">Media Sosial</h4></div>
                  <div class="col-xs-4 detail-box social" style="background-color:#034c4c">
                    <h2 class="desc white" style="text-align:center;padding:0;margin:0"><span class="fa fa-instagram"></span></h2></div>
                  <div class="col-xs-4 detail-box social" style="background-color:#034c4c">
                    <h2 class="desc white" style="text-align:center;padding:0;margin:0"><span class="fa fa-facebook"></span></h2></div>
                  <div class="col-xs-4 detail-box social" style="background-color:#034c4c">
                    <h2 class="desc white" style="text-align:center;padding:0;margin:0"><span class="fa fa-twitter"></span></h2></div>
                </div>
              <div class="col-xs-12 card-bottom" style="background-color:transparent;margin-bottom:10px;display:block;height:auto;padding:0">
                 <h4 class="title" style="margin:10px">Kontak</h4></div>
                  <div class="col-xs-5 col-lg-4 col-sm-2 col-md-5" style="padding:0 0 0 8px;min-height:0;margin:5px 0">
                    <h5 class="desc cool" style="margin:0">LINE</h5></div>
                  <div class="col-xs-7 col-lg-8 col-sm-4 col-md-7" style="padding:0 8px 0 0;min-height:0;margin:5px 0">
                    <h5 class="desc cool" style="margin:0; padding-left: 10px">: @yogashopas</h5></div>
                  <div class="col-xs-5 col-lg-4 col-sm-2 col-md-5" style="padding:0 0 0 8px;min-height:0;margin:5px 0">
                    <h5 class="desc cool" style="margin:0">WhatsApp</h5></div>
                  <div class="col-xs-7 col-lg-8 col-sm-4 col-md-7" style="padding:0 8px 0 0;min-height:0;margin:5px 0">
                    <h5 class="desc cool" style="margin:0; padding-left: 10px">: 0812544645</h5></div>
                  <div class="col-xs-5 col-lg-4 col-sm-2 col-md-5" style="padding:0 0 0 8px;min-height:0;margin:5px 0">
                    <h5 class="desc cool" style="margin:0">BBM</h5></div>
                  <div class="col-xs-7 col-lg-8 col-sm-4 col-md-7" style="padding:0 8px 0 0;min-height:0;margin:5px 0">
                    <h5 class="desc cool" style="margin:0; padding-left: 10px">: 10D567</h5></div>
                  <div class="col-xs-5 col-lg-4 col-sm-2 col-md-5" style="padding:0 0 0 8px;min-height:0;margin:5px 0">
                    <h5 class="desc cool" style="margin:0">Phone/SMS</h5></div>
                  <div class="col-xs-7 col-lg-8 col-sm-4 col-md-7" style="padding:0 8px 0 0;min-height:0;margin:5px 0">
                    <h5 class="desc cool" style="margin:0; padding-left: 10px">: +6281383613003</h5></div>
                </div></div></div></div></div></div>

                
  </body>
</html>
